.rw-button {
    cursor: pointer;
    font-weight: var(--rw-font-weight-regular);
}

/* Sizes */

.rw-button:where(.rw-size-1) {
    padding: 8px;
    font-size: var(--rw-font-size-1);
    border-radius: 6px;
}

.rw-button:where(.rw-size-2) {
    padding: 8px;
    font-size: var(--rw-font-size-2);
    border-radius: 6px;
}

.rw-button:where(.rw-size-3) {
    padding: 8px;
    font-size: var(--rw-font-size-3);
    border-radius: 6px;
}

/* Muted button */

.rw-button:where(.rw-button-muted) {
    color: var(--rw-color-muted);
}

/* Default button */

.rw-button:where(.rw-button-default) {
    background-color: var(--rw-raised-2-color);
}

.rw-button:where(.rw-button-default):hover {
    background-color: var(--rw-raised-3-color);
}

/* Ghost button */

.rw-button:where(.rw-button-ghost) {
    padding-left: 0px;
    padding-right: 0px;
    background-color: unset;
    font-weight: 500;
}

.rw-button:where(.rw-button-ghost):hover {
    background-color: unset;
    color: var(--rw-color-text);
}

.rw-button-ghost:where(.rw-button-muted) {
    font-weight: unset;
}

/* Outlined button */

.rw-button:where(.rw-button-outlined) {
    border: 1px solid var(--rw-color-outline);
}

.rw-button:where(.rw-button-outlined):hover {
    background-color: var(--rw-raised-3-color);
}


