.rw-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 0.5px solid var(--rw-color-outline);
    overflow: hidden;
    border-radius: 0px;
}

@media (min-width: 800px) {
    .rw-list {
        border-radius: 6px;
    }
}

.rw-list:not(.rw-list-blur) > :not(.rw-list-header, .rw-no-results) {
    cursor: pointer;
}

@media (hover: hover) {
    .rw-list:not(.rw-list-blur) > :not(.rw-list-header, .rw-no-results):hover {
        background-color: var(--rw-raised-1-color);
    }
}

.rw-list > :not(:last-child) {
    border-bottom: 0.5px solid var(--rw-color-outline);
 }
