.rw-list-header {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 16px;
    background-color: var(--rw-raised-1-color);
}

@media (hover: hover) {
    .rw-list-header:hover {
        background-color: var(--rw-raised-1-color);
    }
}
