.rw-card {
    font-weight: var(--rw-font-weight-regular);
    overflow: hidden;
}

/* Sizes */

.rw-card:where(.rw-size-1) {
    padding: 8px;
    border-radius: 6px;
}

.rw-card:where(.rw-size-2) {
    padding: 10px;
    border-radius: 14px;
}

.rw-card:where(.rw-size-3) {
    padding: 14px;
    border-radius: 18px;
}

/* Default card */

.rw-card:where(.rw-card-default) {
    border: 0.5px solid var(--rw-color-outline);
}

/* Outlined card */

.rw-card:where(.rw-card-outlined) {
    border: 0.5px solid var(--rw-color-outline);
}


