@import url("./styles.reset.css");
@import url("./styles.colors.css");
@import url("./styles.fonts.css");

body {
    background-color: var(--rw-color-page-background);
    color: var(--rw-color-text);
    font-family: var(--rw-font-family);
    margin: 0px;
    padding: 0px;
}

:root {
    --rw-content-width: 800px;
}

.rw-smol-avatar {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}
