.rw-search-textfield {
    background-color: var(--rw-color-page-muted);
    border: 1px solid var(--rw-color-outline);
    padding: 4px;
    padding-left: 30px;
    padding-right: 8px;
    border-radius: 6px;
    font-size: var(--rw-font-size-1);
}

.rw-search-textfield:focus {
    border: 1px solid var(--rw-color-accent);
    box-shadow: 0px 0px 0px 1px var(--rw-color-accent);
}

.rw-search-textfield::placeholder {
    font-size: var(--rw-font-size-1);
    color: var(--rw-color-muted);
}

.rw-search-textfield-container {
    position: relative;
    display: none;
}

@media (min-width: 500px) {
    .rw-search-textfield-container {
        display: block;
    }
}

@media (min-width: 800px) {
    .rw-search-textfield-container {
        max-width: 350px;
        width: 100%;
    }
}

.rw-search-icon {
    position: absolute;
    left: 6px;
    top: 6px;
    color: var(--rw-color-muted);
}
