.rw-search-textfield {
    background-color: var(--rw-color-page-muted);
    border: 1px solid var(--rw-color-outline);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    font-size: var(--rw-font-size-1);
}

.rw-search-textfield:focus {
    border: 1px solid var(--rw-color-accent);
}


.rw-search-textfield::placeholder {
    font-size: var(--rw-font-size-1);
    color: var(--rw-color-muted);
}
